.set {
  text-decoration: none;
  text-transform: uppercase;
  color: #f32b2b;
}
.block {
  margin-top: 15%;
  margin-left: 5%;
}
.text {
  margin-top: 20px;
  font-size: 3.5vw;
}
.textHelp {
  font-size: 1vw;
  margin: 0;
}
.wrapper {
  width: 100%;
  height: 100%;
  margin-top: -54%;
}
.img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  margin-left: -10%;
  transition: all 1s;
}
.set:hover .img {
  margin: 0;
}
@media all and (max-width: 1200px){
.wrapper{
  margin-top: -26%;
}
}
