body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  color: var(--gray);
  font-size: 14px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
:root{
  --white: #ffffff;
  --gray: #999;
  --red: #f32b2b;
  --black: #030303;
}
